.navigation {
  position: relative;
  background:rgba(255,255,255,.75);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0;
}

@media (max-width: 1280px) {
  .container {
    padding: 2rem;
  }
}