.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background:rgba(255,255,255,.75);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  line-height: 0;
}

.navList {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.navLink {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  position: relative;
  border-radius: 50px;
  transition: all 0.3s ease;

  &:hover {
    color: white;
    background: var(--accent-color);
  }

  &.active {
    color: white;
    background: var(--accent-color-light);
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 0 2rem;
  }
}

// Mobile responsive
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .navList {
    gap: 1rem;
  }

  .navLink {
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
  }
}